.DS_Store
Makefile
autom4te.cache/output.2
autom4te.cache/traces.2
*.snapshot
clients/php/Makefile.global
clients/php/acinclude.m4
clients/php/aclocal.m4
clients/php/autom4te.cache/
clients/php/build/
clients/php/config.guess
clients/php/config.h
clients/php/config.h.in
clients/php/config.nice
clients/php/config.sub
clients/php/configure
clients/php/configure.in
clients/php/install-sh
clients/php/ltmain.sh
clients/php/missing
clients/php/mkinstalldirs
clients/php/run-tests.php
clients/php/tests/basic.diff
clients/php/tests/basic.exp
clients/php/tests/basic.log
clients/php/tests/basic.out
clients/php/tests/basic.php
config.h
config.log
config.status
libtool
src/.deps/
Makefile
src/barbershop
src/benchmark
src/client
src/*.o
stamp-h1
tests/.deps/
tests/Makefile